.single-container
  = render partial: 'items/items-header'
  
  %main.single-main
    .single-main__box
      .single-main__header
        %h2 登録が完了しました
      .toppage
        = link_to 'トップページへ' ,root_path, class:"btm-to-toppage"

  = render partial: 'items/items-footer'
