$("#favorite_#{@item.id}").html("#{j'app/views/items/index.html.haml', locals: { item: @item })}");


-# $("#favorite_#{@item.id}").html("#{j(render partial: 'favorites/favorite, locals: { item: @item })}");