= render "layouts/header"
.show-users-wrapper
  .show-users-wrapper__center
    = render "layouts/content"
    .show-users-wrapper__center__contain-content
      .show-users-wrapper__center__contain-content__pay
        支払い方法
      .show-users-wrapper__center__contain-content__card
        クレジットカード一覧
        %br
        VISA
        %br
        **********2172
        %br
        06/23
= render "layouts/footer"