-# .single-container
-#   = render partial: 'items/items-header'
  
-#   %main.single-main-usercreate
-#     .single-main-usercreate__box
-#       .single-main-usercreate__box__header
-#         %h2 登録が完了しました
-#       .toppage
-#         = link_to 'トップページへ' ,root_path, class:"btm-to-toppage"

-#   = render partial: 'items/items-footer'
