* {
  box-sizing: border-box;
}

.item-errors{
  li{
    display: block;
  }
}

.item-header {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  height: 128px;
  width: 100%;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: red;
}

.item-main {
  height: 2600px;
  width: 55vw;
  margin: 0px auto;
  &__box {
    height: 100%;
    width: 100%;
    &__pic {
      height: 300px;
      width: 100%;
      border-bottom: solid 1px #eee;
      padding: 40px;
      &__picture{
        height: 20px;
        background-color: white;
        &__upload-text {
          height: 20px;
          margin-top: 15px;
        }
        &__upload-form  {
            height: 150px;
            margin-top: 15px;
            border: dashed 2px #5b8bd0;/*点線*/
        }
      }
    }
  }
}



.item-main__box__pic-2 {
  height: 440px;
  width: 100%;
  padding: 40px;
  border-bottom: solid 1px #eee;
  &__syouheimeinohako {
    height: 90px;
    &__name{
      height: 24px;
    }
    &__text-box{
      height: 48px;
      margin-top: 16px;
    }
  }
  &__setsumei {
    height: 220px;
    margin-top: 32px;
    &__bun {
      height: 21px;
      background-color: white;
    }
    &__text  {
      padding: 13px 16px;
      margin-top: 16px;
      height: 100%;
    }
  }
}

.item-main__box__pic-3 {
  height: 500px;
  width: 100%;
  padding: 40px;
  border-bottom: solid 1px #eee;
  &__syouhinosyousai {
    height: 20px;
    width: 100%;
    margin-bottom: 23px;
  }
  &__category {
      height: 120px;
      width: 100%;
      margin-top: 10px;
  }
}

.item-main__box__pic-4 {
  height: 440px;
  width: 100%;
  padding: 40px;
  border-bottom: solid 1px #eee;
  &__haisounituite  {
    height: 2opx;
    width: 100%;
    font-size: 14px;
    margin-bottom: 24px;
  }
  &__hutannnado {
    height: 83px;
    width: 100%;
    margin-top: 24px;
  }
  &__hutan  {
    height: 83px;
    width: 100%;
    &__bun {
      height: 20px;
      width: 100%;
    }
  }
}


.selctbox {
  height: 48px;
  width: 100%;
  background-color: white;
  margin-top: 15px;
}

.selection {
  height: 48px;
  width: 500px;
  margin: 0 12px;
  font-size: 16px;
}

.item-main__box__pic-5 {
  height: 440px;
  width: 100%;
  padding: 40px;
  border-bottom: solid 1px #eee;
  &__tesuuryou {
    height: 42px;
    width: 100%;
    padding: 12px 0px;
  }
  &__kakaku {
    height: 20px;
    width: 100%;
    margin-bottom: 24px;
  }
  &__price {
    height: 58px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    &__hanbaikakaku {
    height: 100%;
    width: 120px;
      &__nyuryoku {
        height: 100%;
        width: 251px;
        padding: 0 16px;
        background-color: rgb(161, 161, 161);
        // position: relative;
      }
    }
  }
}


.item-main__box__pic-6 {
  height: 400px;
  width: 100%;
  text-align: center;
  padding: 0 170px;
  padding-top:40px;
  &__syuppin {
    height: 100px;
    width: 100%;
    padding-top: 20px;
    font-size: 40px;
    background-color: red;
  }
  &__sitagaki {
    height: 80px;
    width: 100%;
    font-size: 40px;
  }
  &__modoru {
    height: 40px;
    width: 100%;
  }
}

.item-new-footer {
  height: 200px;
  width: 100vw;
  background-color: black;
}

// .gazoutoukou {
//   height: 150px;
//   width: 624px;
// }

.syouhinmei {
  height: 48px;
  width: 100%;
  background-color: white;
  padding: 0px 16px;
  
}


.syouhinsetumei {
  height: 190px;
  width: 100%;
}

.selctbox {
  height: 48px;
  width: 100%;
  background-color: white;
  margin-top: 15px;
}

.selection {
  height: 48px;
  width: 500px;
  margin: 0 12px;
  font-size: 16px;
}

.bbw::placeholder {
  // position: relative;
   text-align: right;
 }
 
 .bbw {
   height: 100%;
   width: 100%;
   text-align: right;
 }







 