* {
  box-sizing: border-box;
}

.kounyu-all {
  width: 100vw;
}

.kounyu-header {
  height: 128px;
  width: 100%;
}

.kounyu-main {
  width: 700px;
  margin: 0 auto;
  text-align: center;
  background-color: white;
  &__box-1{
    width: 100%;
    font-size: 22px;
    font-weight: bold;
    padding: 32px;
    text-align: center;
    border-bottom: solid 1px #eee;
  }
  &__box-2{
    width: 100%;
    padding: 32px 16px;
    &__item-box{
      height: 80px;
      display: flex;
      &__pic{
        height: 100px;
        width: 100px;
        margin-left: 200px;
      }
      &__text{
        // height: 80px;
        width: 195px;
        margin-left: 10px ;
        &__name {
          font-size: 20px;
          font-weight: bold;
        }
        &__price {
          font-size: 15px;
          margin-top: 30px;
          display: flex;
          justify-content: space-around;
          &__nedan {
            font-size: 13px;
          }
          &__souryou {
            font-size: 13px;
          }
        }
      }
    }
  }
}

.kounyu-main__box-v2  {
  width: 345px;
  margin: auto;
  &__box-3 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #eee;
    padding: 30px 0;
    &__kingaku {
      font-size: 20px;
      font-weight: bold;
    }
    &__price {
      font-size: 20px;
      text-align: right;
      padding-right: 5px;
    }
  }
  &__box-4 {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    &__siharaihouhou {
      width: 100px;
      font-size: 20px;
      font-weight: bold;
    }
    &__henkousuru {
      display: inline-block;
      text-decoration: none;
      color: white;
      background-color: #3ccace;
      height: 25px;
      font-size: 15px;
      padding: 3px;
      text-align: center;
    }
  }
  &__box-5 {
    width: 100%;
    padding: 20px 0;
    border-bottom: solid 1px #eee;
    &__kureka {
      font-size: 15px;
    }
    &__number {
      font-size: 12px;
    }
    &__yuukoukigen{
      font-size: 15px;
    }
    &__info{
      font-size: 15px;
    }
  }
  &__box-6 {
    width: 100%;
    margin-top: 20px;
    &__haisou {
      // height: 20px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      &__haisousaki {
        font-size: 20px;
        font-weight: bold;
      }

    }
    &__adress{
      padding: 30px 0;
      font-size: 15px;
      border-bottom: solid 1px #eee;

}
  }
  &__box-7 {
    width: 100%;
    &__tyuui {
      width: 100%;
      padding-top: 60px;
      font-size: 13px;
    }
    &__bottun{
      height: 100px;
      width: 100%;
      margin-top: 40px;
    }
  }
}
.kounyu-footer {
  height: 100px;
  width: 100%;
  background-color: white;
}

.bababa {
  height: 20px;
  font-size: 15px;
  margin-top: 8px;
}