* {
  box-sizing: border-box;
}

.kounyu-all {
  height: 2000px;
  width: 100vw;
  background-color: #b3d4fc;
}

.kounyu-header {
  height: 128px;
  width: 100%;
  background-color: darkkhaki;
}

.kounyu-main {
  height: 945px;
  width: 700px;
  margin: 0 auto;
  background-color: darkgrey;
  &__box-1{
    height: 100px;
    width: 100%;
    background-color: yellowgreen;
    font-size: 22px;
    padding: 32px;
    text-align: center;
    border-bottom: solid 1px #eee;
  }
  &__box-2{
    height: 145px;
    width: 100%;
    background-color: white;
    padding: 32px 16px;
    &__item-box{
      height: 80px;
      background-color: #b3d4fc;
      display: flex;
      &__pic{
        height: 80px;
        width: 80px;
        margin-left: 200px;
        background-color: white;
      }
      &__text{
        height: 80px;
        width: 195px;
        background-color: red;
        margin-left: 10px ;
      }
    }
  }
}

.kounyu-main__box-v2  {
  height: 700px;
  width: 345px;
  margin: auto;
  background-color: #b3d4fc;
  &__box-3 {
    height: 100px;
    width: 100%;
    display: flex;
    background-color: white;
    border-bottom: solid 1px #eee;
    &__kingaku {
      height: 30px;
      width: 175px;
      font-size: 18px;
      padding-top:10px;
      background-color: #eee;
    }
    &__price {
      height: 38px;
      width: 200px;
      font-size: 25px;
      text-align: right;
      padding-right: 5px;
      background-color: red;
    }
  }
  &__box-4 {
    height: 20px;
    width: 100%;
    margin-top: 20px;
    background-color: red;
    display: flex;
    justify-content: space-between;
    &__siharaihouhou {
      height: 20px;
      width: 100px;
      font-size: 14px;
      background-color: rebeccapurple;
    }
    &__henkousuru {
      height: 20px;
      width: 100px;
      font-size: 15px;
      background-color: blue;
    }
  }
  &__box-5 {
    height: 65px;
    width: 100%;
    margin-top: 10px;
    background-color: chocolate;
    border-bottom: solid 1px #eee;
    &__kureka {
      height: 18px;
      font-size: 14px;
    }
    &__number {
      height: 18px;
      font-size: 12px;
    }
    &__yuukoukigen{
      height: 18px;
      font-size: 15px;
    }
  }
  &__box-6 {
    height: 200px;
    width: 100%;
    padding: 40px 0;
    background-color: coral;
    &__haisou {
      height: 16px;
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }
}