* {
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
}

.items {
  width: 700px;
  padding: 24px 40px 40px;
  margin: 40px auto;
  background-color: white;
  background-clip: padding-box;

  .items-main {

    &__name {
      font-size: 24px;
      text-align: center;
    }
    
    &__description {
      font-size: 14px;
    }

    &__image {
      height: 300px;
      width: 300px;
      float: left;
      overflow: scroll;
      display: flex;
      img {
        width: 100%;
        height: 100%;
      }
    }

    &__detail {
      height: 300px;
      width: 300px;
      float: right;

      th {
        font-size: 14px;
        font-weight: bolder;
        background-color: whitesmoke;
        border: 1px solid;
        border-color: rgb(216, 216, 216);
        padding-left: 10px;
      }

      td {
        font-size: 14px;
        border: 1px solid;
        border-color: whitesmoke;
        border-color: rgb(216, 216, 216);
        padding-left: 10px;
      }
    }

    &__select {

      height: 120px;
      width: 300px;
      margin-top: 300px;

    }

    &__price {
      font-size: 50px;
      text-align: center;

      &--realmoney {
        font-size: 50px;
      }
      &--tax {
        font-size: 10px;
      }

      &--shipping-fee {
        font-size: 16px;
      }

    }

    &__buy--btn {
      text-align: center;
      line-height: 60px;

      .buy-box {
        color: white;
        font-weight: bolder;
        font-size: 24px;
        width: 400px;
        text-decoration: none;
        background-color: #3CCACE;
        display: inline-block;
    }

  }

    &__description-inner {
      padding-top: 32px;
    }

    &__button {
      display: flex;
      justify-content: space-between;
      margin-top: 16px;
 
      &--left {
        display: flex;

        &--left {
        }

        &--right {
          margin-left: 16px;
        }
      }
      &--right {
      }

      &__destroy-btm{
        display: block;
        background-color: #3CCACE;
        text-align: center;
        height: 50px;
        line-height: 50px;
        margin-top: 20px;
        width: 80%;
        margin: 20px auto 0;
        color: white;
        text-decoration: none;
      }
    }
  }
}

.edit-box {
  background-color: #3CCACE;
  color: white;
  text-align: center;
  height: 30px;
  width: 100px;
  line-height: 30px;
  display: inline-block;
  text-decoration: none;
  margin-top: 20px;
}

.delete-box {
  background-color: red;
  color: white;
  text-align: center;
  height: 30px;
  width: 100px;
  line-height: 30px;
  display: inline-block;
  text-decoration: none;
}

.items-comment {
  width: 700px;
  margin: 40px auto;
  background-color: white;
  &--text {
    min-height: 100px;
    width: 600px;
    margin: 10px 50px;
    padding: 10px;
  }
  .realmessage {
    margin: 0 50px;
  }
  &--btn {
    width: 200px;
    margin: 10px 250px;
    border-radius: 100px;
    font-size: 18px;
    line-height: 50px;
    cursor: pointer;
    .fa.fa-comment {
      color: skyblue
    }
  }
}

.items-social-media {
  width: 700px;
  height: 140px;
  padding: 24px 40px 40px;
  margin: 40px auto;
  background-color: white;

  &__box {
    height: 76px;
    width: 620px;
    display: flex;
    list-style: none;
    text-align: center;
    line-height: 76px;
    justify-content: center;

    li {
      margin: 0 10px;
      font-size: 40px;
    }
  }


}

.items-sub {
  width: 700px;
  margin: 40px auto;
  &--main {


    &__header {
      font-size: 22px;
    }

    &__production {
      display: flex;

      &--box{
        width: 220px;
        margin: 0 20px 20px 0;
        background-color: white;


        &--contents {
          height: 220px;
          width: 220px;
        }

        &--body {
          padding: 15px;

          &--name {
          }
    
          &--price {
            margin-top: 8px;
            display: flex;
            justify-content: space-between;
            align-items: center;
          }

        }
      }
    }
  }
}

.appBanner {
  background-image: url(/material/pict/bg-appBanner-pict.jpg);
  padding: 100px 40px;
  background-size: cover;
  background-position: center;
  .inner {
    color: white;
    text-align: center;
    &__title {
      font-size: 24px;
      font-weight: bold;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
    }

    &__text {
      font-size: 35px;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
    }

    &__icon {
      .abtn {
        width: 180px;
      }

      .gbtn {
        width: 180px;
      }
    }
  }
}

.items-link {
  width: 700px;
  margin: 0 auto 10px;
  &--page {
    font-size: 22px;
    text-decoration: none;
    color: black

  }
}

// メインのフッター
.footer {
  padding: 60px 0;
  background-color: black;
  color: white;
  text-align: center;
  .contents {
    display: flex;
    margin: 0 auto;
    max-width: 840px;
    .content {
      width: calc(1/3 * 100%);
      margin: 0 2% 0 0;

      &__head {
        font-size: 16px;
        font-weight: bold;
        margin: 0 0 20px;
      }
      ul {
        li {
          display: block;
          a{
            text-decoration: none;
            color: white;
            font-size: 12px;
            line-height: 32px;
          }
        }
      }
    }
  }

  &__logo {
    max-width: 160px;
    margin: 0 auto;
    a {
      .furima-image {
        width: 100%;
        vertical-align: bottom;
      }
    }

  }

  &__name {
    font-size: 14px;
  }
}


.link {
  text-decoration: none;
  color: black;

  &--facebook {
    color: blue;
   
  }
  &--twitter {
    color: skyblue;
   
  }

  &--line {
    color: green;
    
  }

  &--pinterest {
    color: red;

  }
}

.imagesample {
  height: 300px;
  width: 300px;
}

.imagesample2 {
  height: 220px;
  width: 220px;
}
