* {
  box-sizing: border-box;
}

.item-main{
  background-color: #eee;
  padding: 40px 0;
  &__box{
    width: 720px;
    padding: 40px;
    margin: 0 auto;
    font-size: 14px;
    margin-bottom: 2px;
    background-color: #fff;

    // バリデーションエラーの装飾
    .item-errors{
      li{
        display: block;
      }
    }
    

    &__pic{
      padding: 20px;
      border-bottom: 1px solid #eee;
      padding-bottom: 40px;
      margin-bottom: 30px;

      span.js-remove{
        display: inline-block;
        padding: 2px 5px;
        color: white;
        font-size: 13px;
        border-radius: 4px;
        background-color: #3ccace;
        cursor: pointer;
  
      }

    }

    &__name{
      padding: 20px;
    }

    &__description{
      padding: 20px 20px 40px;
      border-bottom: 1px solid #eee;
      margin-bottom: 30px;


      .form-description {
        height: 190px;
        width: 100%;
        resize: none;
        margin-top: 10px;
        &::placeholder {
          padding: 15px;
       }
      }
    }

    &__item-info{
      border-bottom: 1px solid #eee;
      padding-bottom: 40px;
      margin-bottom: 30px;


      &__category{
        padding: 20px;

        .listing-select-wrapper {
          width: 100%;
          margin-top: 16px;
          &__box {
            width: inherit;
            &--select {
              height: 48px;
              width: 100%;
              padding: 0 56px 0 16px;
              font-size: 16px;
              border-radius: 4px;
              margin-bottom: 10px;
            }
          }
        }
      }


      &__bland{
        padding: 20px;
      }
      &__status{
        padding: 20px;
      }
    }

    &__delivery{
      border-bottom: 1px solid #eee;
      padding-bottom: 40px;
      margin-bottom: 30px;

      &__cost{
        padding: 20px;
      }

      &__prefecture{
        padding: 20px;
      }
      &__days{
        padding: 20px;
      }
    }

    &__price{
      width: 100%;
      padding: 20px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      .title-box{
        width: 50%;
      }
      .input-price{
        height: 48px;
        width: 300px;
        padding-left: 15px;
        text-align: right;
      }
    }

    &__submit{
      padding: 20px;
      width: 100%;
      text-align: center;

      .submit-btn{
        background-color: #3ccace;
        color: white;
        font-size: 25px;
        font-weight: bold;
        height: 60px;
        width: 230px;
        border: none;
        cursor: pointer;
      }
    }

    .require{
      padding: 5px;
      color: white;
      font-size: 13px;
      border-radius: 4px;
      background-color: #3ccace;
    }
    .any{
      padding: 3px;
      color: white;
      font-size: 12px;
      border-radius: 4px;
      background-color: #ddd;
    }

    .title{
      font-weight: bold;
    }
    .input {
      height: 48px;
      width: 100%;
      padding-left: 15px;
      margin-top: 10px;
    }


  }
}
