* {
  box-sizing: border-box;
}

$white-shadow-color:  0 0 5px rgba(0,0,0,0.4);

@mixin btn-style() {
  img{
    width: 180px;
  }
  a{
    &:hover{
      opacity: 0.5;
    }
  }
  .a-btn{
    margin-right: 10px;
  }
}

@mixin decoration-line() {
  &:after{
    content: "";
    width: 70px;
    height: 4px;
    background-color: #3CCACE;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}


.item__index--main{
  width: 100%;
  background-color: #f8f8f8;

  .first-view{
    width: 100%;
    height: 560px;
    background-image: url(/material/pict/bg-mainVisual-pict_pc.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    padding: 0 60px;
    display: flex;
    align-items: center;

    &__content{
      max-width: 1280px;
      width: 100%;
      margin: 0 auto;
      padding: 35px 0 0 0;

      &__title{
        text-shadow: $white-shadow-color;
        font-size: 60px;
        line-height: 1.2;
        color: #fff;
      }

      &__text{
        text-shadow: $white-shadow-color;
        font-size: 18px;
        color: #fff;
        line-height: 1.8;
        margin-top: 16px;
      }

      &__btn{
        width: 100%;
        display: flex;
        justify-content: left;
        margin: 20px auto 0;
        @include btn-style();
      }
    }
  }

  .indroduction{
    padding: 60px 20px;

    &__title{
      text-align: center;
      font-size: 26px;
      line-height: 1.4;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
      @include decoration-line();
    }

    &__lists{
      max-width: 1020px;
      width: 100%;
      display: flex;
      justify-content: center;
      text-align: center;
      margin: 0 auto;

      &__list{
        width: 30%;
        margin: 16px 5% 0 0;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__pict{
          color: white;
          height: 306px;
          width: 306px;
          margin-bottom: 20px;
          position: relative;

          .number{
            color: white;
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            background-color: #3CCACE;
            font-size: 30px;
            text-align: center;
            margin: 0 5px 0 0;
            padding: 10px 20px;
            border-radius: 4%;
          }

          img{
            vertical-align: bottom;
          }
        }

        &__text{
          font-size: 24px;
          line-height: 50px;
          font-weight: bold;
          margin-left: 2px;

          span{
            color: #3CCACE;
          }
        }

        &__description{
          font-size: 18px;
          line-height: 1.5;
          margin-top: 16px;
        }
      }

      .list--last{
        margin-right: 0;
      }
    }
  }
  .middle-download{
    background-image: url(/material/pict/bg-topMiddleDl-pict.jpg);
    background-position: bottom right;
    background-size: cover;
    height: 400px;
    display: flex;
    align-items: center;

    &__inner{
      color: #fff;
      text-shadow: $white-shadow-color;
      text-align: left;
      max-width: 1040px;
      width: 100%;
      margin: 0 auto;

      &__title{
        font-size: 27px;
        font-weight: bold;
        line-height: 1.4;
      }

      &__text{
        font-size: 18px;
        margin: 20px 0 30px;
        line-height: 1.5;
      }

      &__btn{
        width: 100%;
        display: flex;
        justify-content: left;
        margin: 20px auto 0;
        @include btn-style();
      }
    }
  }

  .feature {
    padding: 60px 100px;
    background-color: #fff;

    &__header{
      font-size: 27px;
      text-align: center;
      margin: 0 0 40px;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
      @include decoration-line();
    }

    &__items{
      max-width: calc(1040px + 20px);
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;

      &__item{
        display: flex;
        flex-direction: column;
        width: calc(1 / 3 * 100%);
        text-align: center;
        padding: 0 20px;

        &__img{
          width: 70%;
          margin: 0 auto;
          line-height: 120px;

          img{
            width: 100%;
            vertical-align: bottom;
          }
        }

        &__title{
          margin: 38px 0 10px;
          font-size: 19px;
          font-weight: bold;
        }

        &__detail{
          margin: 0 0 40px;
          font-size: 17px;
          font-weight: 200;
          text-align: left;
        }
      }
    }
  }

  .pickup{
    padding-top: 80px;
    background-color: #f8f8f8;
    height: 100%;

    &__header{
      text-align: center;
      font-size: 28px;
      line-height: 1.4;
      font-weight: bold;
    }
    &__box{
      &__header{
        text-align: center;
        a{
          color: #3CCACE;
          font-size: 24px;
          text-decoration: none;
          h3{
            font-weight: bold;
          }
        }
      }
      &__lists{
        width: 780px;
        margin: 26px auto;
        display: flex;
        justify-content: space-around;
        overflow: scroll;

        &__list{
          width: 220px;
          display: inline-block;

          &:hover{
            opacity: 0.5;
          }

          a{
            background-color: #fff;
            display: inline-block;
            text-decoration: none;

            figure{
              width: 220px;
              height: 150px;
              position: relative;
              overflow: hidden;
              margin: 0;
              z-index: auto;

              img{
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                z-index: auto;
                height: 150px;
                object-fit: cover;
              }
            }
          }

          &__body{
            background-color: white;
            color: #333;
            padding: 16px;

            &__name{
              overflow: hidden;
              line-height: 1.5;
              font-size: 16px;
              text-align: left;
            }
            &__details{
              font-size: 16px;

              ul{
                display: flex;
                align-items: center;
                justify-content: space-between;
              }

              p{
                font-size: 10px;
                text-align: left;
              }
            }
          }
        }
      }
    }
  }

  .bottom-donwnload{
    background-image: url(/material/pict/bg-appBanner-pict.jpg);
    background-size: cover;
    background-position: center;
    padding: 100px 40px;
    margin-top: 110px;

    &__inner{
      color: #fff;
      text-align: center;

      &__title{
        text-shadow: $white-shadow-color;
        font-size: 24px;
        font-weight: bold;
        line-height: 1.4;
      }

      &__text{
        font-size: 35px;
        text-shadow: $white-shadow-color;
      }

      &__icon{
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 20px auto 0;
        @include btn-style();
      }
    }
  }
}

.purchaseBtn{
  width: 120px;
  background: #3CCACE;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
  text-decoration: none;

  &__text{
    color: #fff;
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
  }

  img{
    width: 60%;
  }
}





header.pc-header{
  .header--inner{
    max-width: 1040px;
    width: 100%;
    min-height: 82px;
    margin: 0 auto;
    padding: 15px 0 0;
    &__main{
      position: relative;
      display: flex;
      align-items: center;
      h1.header--inner__main__icon{
        padding-bottom: 10px;
        margin-right: 30px;
        a{
          width: 140px;
          display: block;
          img{
            width: 100%;
          }
        }
      }
      .header--inner__main__search-box{
        margin-left: auto;
        width: 100%;

        form{
          width: 100%;
          display: flex;
          margin-bottom: 5px;
          input{
            width: calc(100% - 26px);
            height: 36px;
            padding: 0 0 0 5px;
          }

          button{
            width: 36px;
            border: 0;
            cursor: pointer;
            background-color: #3CCACE;
            padding: 8px;
            .search-box__icon{
              img{
                width: 100%;
                vertical-align: bottom;
              }
            }
          }
        }
      }
    }
    &__nav{
      display: flex;
      justify-content: space-between;
      color: black;
      font-size: 14px;
      line-height: 32px;
      cursor: pointer;
      margin-bottom: 10px;

      &__left{
        display: flex;

        &--category{
          padding-right: 30px;
        }
      
        &--brand{
        }
      }
      &__right{
        display: flex;

        li{
          a{
            color: black;
            text-decoration: none;
          }
        }

        &--login{
          padding-right: 30px;
        }
          
        &--registration{
        }
      }
    }
  }
}

