.items-sub--main__production--box
  .items-sub--main__production--box--contents
    = image_tag "/material/icon/icon-01.png", class: "imagesample2"
  .items-sub--main__production--box--body
    .items-sub--main__production--box--body--name
      Tシャツ
    .items-sub--main__production--box--body--price
      .items-sub--main__production--box--body--price--money
        ¥400
      %i.fas.fa-heart