.items-main
  .items-main__name
    ユニクロ タンクTシャツ綿グレー
  .items-main__description
    『ユニクロ タンクTシャツ綿グレー』は、1343回の取引実績を持つかば 底値saleさんから出品され
    ました。ユニクロ（Tシャツ/カットソー(半袖/袖なし)/レディース）の商品で、沖縄県から2~3日で
    発送されます。
  .items-main__image
    = image_tag "/material/icon/icon-01.png", class: "imagesample"
  %table.items-main__detail
    %tbody
      %tr
        %th
          出品者
        %td
          name
      %tr
        %th
          カテゴリー
        %td
          categori
      %tr
        %th
          ブランド
        %td
          ユニクロ
      %tr
        %th
          商品のサイズ
        %td
          M        
      %tr
        %th
          商品の状態
        %td
          やや傷や汚れあり        
      %tr
        %th
          配送料の負担
        %td
          送料込み
      %tr
        %th
          配送の方法
        %td
          クリックポスト
      %tr
        %th
          配送元地域
        %td
          = @item.prefecture.name
      %tr
        %th
          発送日の目安
        %td
          2〜3日で発送
  .items-main__select                                    
  .items-main__price
    %span.items-main__price--realmoney
      ¥400
    %span.items-main__price--tax
      (税込み)
    %span.items-main__price--shipping-fee
      送料込み

  .items-main__buy--btn
    購入画面に進む
    
  .items-main__description-inner
    丈夫で良く伸びる綿素材
    %br
    表面凸凹素材感
    %br
    袖口が着るとかわいいデザイン
    %br
    シンプルであわせやすい
    %br
    娘クローゼット整理します
    %br
    良かったらどなたか活用して下さい( ^o^)ノ
  .items-main__button
    .items-main__button--left
      .items-main__button--left--left
        %i.fas.fa-heart
        いいね！
      .items-main__button--left--right  
        不適切な商品報告
    .items-main__button--right
      安心・安全への取り組み