.items-social-media
  %ul.items-social-media__box
    %li
      = link_to "https://www.facebook.com/", class: "link--facebook" do
        %i.fab.fa-facebook-square
    %li
      = link_to "https://twitter.com/", class: "link--twitter" do
        %i.fab.fa-twitter-square
    %li
      = link_to "#", class: "link--line" do
        %i.fab.fa-line
    %li
      = link_to "#", class: "link--pinterest" do
        %i.fab.fa-pinterest-square