.kounyu-all
  .kounyu-header 
  .kounyu-main
    .kounyu-main__box-1 商品購入の確認
    .kounyu-main__box-2
      .kounyu-main__box-2__item-box
        .kounyu-main__box-2__item-box__pic
        .kounyu-main__box-2__item-box__text
    -# これより下の記述はフォーム      
    .kounyu-main__box-v2
      .kounyu-main__box-v2__box-3 
        .kounyu-main__box-v2__box-3__kingaku  支払い金額
        .kounyu-main__box-v2__box-3__price  ¥3,000
      .kounyu-main__box-v2__box-4
        .kounyu-main__box-v2__box-4__siharaihouhou 支払い方法
        .kounyu-main__box-v2__box-4__henkousuru 変更する
      .kounyu-main__box-v2__box-5
        .kounyu-main__box-v2__box-5__kureka クレジットカード
        .kounyu-main__box-v2__box-5__number **********4321
        .kounyu-main__box-v2__box-5__yuukoukigen 有効期限  12/21
      .kounyu-main__box-v2__box-6
        .kounyu-main__box-v2__box-6__haisou
          .kounyu-main__box-v2__box-6__haisou__haisousaki 配送先
          .kounyu-main__box-v2__box-6__haisou__henkou  変更する
        .kounyu-main__box-v2__box-6__adress
          %br.aaaaa
  .kounyu-footer
      