.kounyu-all
  .kounyu-header 
  .kounyu-main
    .kounyu-main__box-1 商品購入の確認
    .kounyu-main__box-2
      .kounyu-main__box-2__item-box
        .kounyu-main__box-2__item-box__pic
        .kounyu-main__box-2__item-box__text
    -# これより下の記述はフォーム      
    .kounyu-main__box-v2
      .kounyu-main__box-v2__box-3    
      .kounyu-main__box-v2__box-4
      .kounyu-main__box-v2__box-5