.item-header
.item-main
  .item-main__box
    .item-main__box__pic
      .item-main__box__pic__hako
        .item-main__box__pic__hako__gazo
    .item-main__box__name
    .item-main__box__detail
    .item-main__box__postage
    .item-main__box__price
    .item-main__box__Exhibition