* {
  box-sizing: border-box;
}


.single-container {
  height: 100%;
  width: 100%;
  .single-header {
    height: 100px;
  }
  .single-main {
  
    .login-panel{
      max-width: none;
      width: 456px;
      margin: 0 auto; 
      background-color: white;
      &__no-account {
        text-align: center;
        padding: 40px 64px;
        border-bottom: solid 1px gray;
      }
      p {
        font-size: 14px;

      }
      .acount-new {
        height: 40px;
        width: 300px;
        background-color: rgb(0, 174, 255);
        margin: 0 auto;
        margin-top: 35px;
        line-height: 40px;

      }
      .btn-new {
        color: white;
        
        text-decoration: none;
        height: 20px;
        width: 60px;
      }
    }
  }
}