.show-users-wrapper{
  background-color: rgb(245,245,245);
  width: 100%;
  &__center{
    background-color: #ffffff;
    display: flex;
    width: 930px;
    margin: 0 auto;
    &__left-content{
      padding: 20px 10px;
      display: flex;
      flex-direction: column;
      &__box{
        width: 200px;
        height: 48px;
        color: #333;
        padding: 0 12px;
        font-size: 14px;
        line-height: 50px;
        margin-bottom: 1px;
        background-color: #fff;
        text-decoration: none;
      }
    }
    &__right-content{
      background-color: #fff;
      width: 700px;
      margin: 20px 10px;
      position: relative;
      &__image{
        width: 700px;
        height: 200px;
        display: block;
        object-fit: cover;
        position: relative;
      }
      &__user-image{
        border-radius: 100%;
        width: 60px;
        height: 60px;
        object-fit: cover;
        position: absolute;
        top: 120px;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
      }
      &__user-name{
        color: #fff;
        font-size: ï¼–px;
        margin: 0 auto;
        position: absolute;
        top: 180px;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        div{
          color: #fff;
        }
      }
      &__title-wrapper{
        display: flex;
        border-bottom: 1px solid #f5f5f5;
        &__title{
          width: 350px;
          height: 74px;
          line-height: 74px;
          font-weight: 16px;
          font-weight: bold;
          text-align: center;
          cursor: pointer;
        }
        .active{
          border-top: 2px solid #ea352d;
          background-color: #fff;
        }
      }
      &__contents{
        height: 80px;
        cursor: pointer;
        padding: 0 16px;
        font-size: 16px;
        overflow: hidden;
        line-height: 74px;
        border-bottom: 1px solid #f5f5f5;
      }
      &__view-list{
        height: 88px;
        cursor: pointer;
        padding: 16px;
        text-align: center;
        background-color: #fff;
        &__go-list{
          display: block;
          height: 56px;
          margin: 0 auto;
          background-color: #eee;
          color: #333;
          line-height: 56px;
          text-align: center;
        }
      }
      &__purchase{
        height: 72px;
        font-size: 16px;
        background-color: #fafafa;
        padding: 16px;
        margin-top: 35px;
        line-height: 72px;
      }
      &__purchase-wrapper{
        display: flex;
        background-color: #eee;
        border-bottom: 1px solid #ea352d;
        &__pc{
          width: 350px;
          height: 74px;
          line-height: 74px;
          font-weight: 16px;
          font-weight: bold;
          text-align: center;
          cursor: pointer;
        }
        .active{
          cursor: default;
          border-top: 2px solid #ea352d;
          background-color: #fff;
        }
      }

    }
    &__contain-content{
      &__item-list{
        background-color: #fff;
        width: 700px;
        height: 179px;
        margin-top: 20px;
        cursor: pointer;
        padding: 64px;
        font-size: 14px;
        overflow: hidden;
        vertical-align: middle;
        text-align: center;
        border-bottom: 1px solid #f5f5f5;
        
      }

      &__pay{
        width: 700px;
        height: 50px;
        font-size: 24px;
        font-weight: bold;
        padding: 8px 24px;
        background-color: #fff;
        margin-top: 20px;
        border-bottom: 1px solid #f5f5f5;
        text-align: center;
        vertical-align: middle;
      }
      &__card{
        width: 700px;
        height: 315px;
        padding: 64px;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        background-color: #fff;
      }
    }
  }
}
.logout-btn{
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  list-style: none;
  width: 320px;
  height: 50px;
  line-height: 50px;
  background-color: #3ccace;
  border: solid 1px #3ccace;
  color: #fff;
}